html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #080808;
  color: #dddddd;
  margin-top: 20px;
  margin-bottom: 100px;
  font-family: Helvetica, sans-serif; /* Not so very much original at all */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
}

h1 {
  font-size: 3.5em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 30px;
}

p.largebottom {
  margin-bottom: 30px;
}

.align-justify {
  text-align: justify;
}

a.wh:link {
  text-decoration: none;
  color: #ffffff;
}
a.wh:visited {
  text-decoration: none;
  color: #ffffff;
}
a.wh:hover {
  text-decoration: underline;
}
a.wh:active {
  text-decoration: underline;
}

a.nodecor {
  text-decoration: none;
  color: inherit;
}

.smalltext {
  font-size: 0.75em;
}
