html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #0e0e0e;
  color: #dddddd;
  margin-top: 20px;
  margin-bottom: 100px;
  font-family: 'Helvetica', Arial, sans-serif; /* Not so very much original at all */
  line-height: 160%;
}

@media (min-width: 1200px) { /* Override Bootstrap's max-width for >1200px screens */
  .container {
    width: 950px;
  }
}

h1 {
  margin-top: 60px;
  margin-bottom: 70px;
  font-size: 3.3em;
  font-weight: 300;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  margin-bottom: 2.6em;
}

p.smallbottom {
  margin-bottom: 8px;
}

p.largebottom {
  margin-bottom: 2.6em;
}

.align-justify {
  text-align: justify;
}

.additional-padding {
  padding-left: 2em;
  padding-right: 2em;
}

.strongishtext {
  color: #ffffff;
}

.strongtext {
  color: #ffffff;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 1.0em;
}

a.wh:link {
  text-decoration: none;
  color: #ffffff;
}
a.wh:visited {
  text-decoration: none;
  color: #ffffff;
}
a.wh:hover {
  text-decoration: underline;
}
a.wh:active {
  text-decoration: underline;
}

a.clink:link {
  text-decoration: none;
  color: #FF5333;
}
a.clink:visited {
  text-decoration: none;
  color: #DD5353;
}
a.clink:hover {
  text-decoration: underline;
}
a.clink:active {
  text-decoration: underline;
}

a.nodecor {
  text-decoration: none;
  color: inherit;
}

.smalltext {
  font-size: 0.75em;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 100px;
  margin-bottom: 10px;
}

@font-face {
  font-family: 'Helvetica'; /* regular */
  src: url('Helvetica-webfont.eot');
  src: url('Helvetica-webfont.eot?#iefix') format('embedded-opentype'),
       url('Helvetica-webfont.woff') format('woff'),
       url('Helvetica-webfont.ttf') format('truetype'),
       url('Helvetica-webfont.svg#Helvetica') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face { /* bold */
  font-family: 'Helvetica';
  src: url('Helvetica-Bold-webfont.eot');
  src: url('Helvetica-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('Helvetica-Bold-webfont.woff') format('woff'),
       url('Helvetica-Bold-webfont.ttf') format('truetype'),
       url('Helvetica-Bold-webfont.svg#Helvetica Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('Helvetica-Neue-Light-webfont.eot');
  src: url('Helvetica-Neue-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('Helvetica-Neue-Light-webfont.woff') format('woff'),
       url('Helvetica-Neue-Light-webfont.ttf') format('truetype'),
       url('Helvetica-Neue-Light-webfont.svg#Helvetica Neue Light') format('svg');
}

/*@font-face {
  font-family: 'Helvetica Neue';
  src: url('Helvetica-Neue-webfont.eot');
  src: url('Helvetica-Neue-webfont.eot?#iefix') format('embedded-opentype'),
       url('Helvetica-Neue-webfont.woff') format('woff'),
       url('Helvetica-Neue-webfont.ttf') format('truetype'),
       url('Helvetica-Neue-webfont.svg#Helvetica Neue') format('svg');
}*/
